[Unit]
Requires=network-online.target grafana-server.service
After=network-online.target named-chroot.service grafana-server.service
[Service]
Type=exec
ExecStart=/usr/local/bin/loki
RemainAfterExit=false
StandardOutput=journal
[Install]
WantedBy=default.target
